* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, #6ab04c 50%, #30336b 50%);
}
.container{
    height: 450px;
    width: 400px;
    /* background: linear-gradient(-875deg, #ff7675 30%, #b2bec3 40%, #badc58 50%); */
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    padding: 10px;
    overflow-y: auto;
}
#input{
    background-color: #30336b;
    height: 50px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 0 10px;
    margin: 15px 0;
}
#input::placeholder{
    color: #00b894;
}

ul li{
    background: #fab1a0;
    color: #333;
    height: 40px;
    border-radius: 50px;
    margin: 10px 0;
    padding: 10px;
    position: relative;
}
ul .fa-check, .fa-trash{
    position: absolute;
    cursor: pointer;
}
ul .fa-check{
    right: 40px;
    color: green;
}
ul .fa-trash{
    right: 15px;
    color: red;
}
ul .checked{
    background: lightgreen;
    text-decoration: line-through;
    transition: .2s;
}


/* body{
    background-image: linear-gradient(230deg, #1B9CFC, #CAD3C8, #227093, #ff5252);
    min-height: 100vh;   
}
.container{
    max-width: 800px;
    margin: auto;
    padding: 10px;

}
.txtb{
    width: 100%;
    border: none;
    border-bottom: 2px solid #ff793f;
    background: none;
    padding: 10px;
    outline: none;
    font-size: 18px;
}
h3{
    margin: 10px 0;
}
.task{
    width: 100%;
    background: #ffb142;
    padding: 18px;
    margin: 6px 0;
    overflow: hidden;
    border-radius: 5px;
}
.task i{
    float: right;
    margin-left: 20px;
    cursor: pointer;
}
.comp .task{
    background-color: #aaa69d;
} */